// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border: 1px solid #ddd;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
